body {
  padding: 0;
  color: #494c58;
  font-family: 'Roboto', sans-serif;
}

#tooltip{
	position: absolute;
	top:0px;
	left:0px;
	width: 100px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

circle.radarInvisibleCircle,
text.legend{
	cursor: pointer;
}

#mapa{
	width: 100%;
}

.c3-axis-x .tick{
	cursor: pointer;
}

.c3-axis-x .tick.hover{
	font-weight: bold;
	font-size: 14px;	
}

path.region{
	cursor: pointer;
}

.carousel-control.right,
.carousel-control.left
{
	cursor: pointer;
	background-image: none;
	opacity: 1;
	color:#001d34;

}

.carousel-control.right:hover,
.carousel-control.left:hover{
	color: #ff8303;
}

#radar-chart{
	width: 100%;
	height: auto;
}

#lines-container{
	width: 100%;
}

.loading{
	background-image: url('../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 600px;
}

#main-col{

}

select.form-control,
select.form-control:focus {
	outline: none;
	-webkit-appearance:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	transition: none;
	-o-transition: none;
	border-radius: 0px;
	border-color: #001d34;
}

label{
	margin-top: 15px;
	margin-bottom: 5px;
}

p.help-block{
	color: #aaa;
}

p.help-block.up{
	margin-top: 0;
	margin-bottom: 10px;
}
p.help-block.down{
	margin-top: 10px;
	margin-bottom: 0;
}

p.help-block.to-select{
	margin-top: 23px;
	margin-bottom: 0px;
}

p.help-block .spacer{
	width: 65px;
	display: inline-block;
}

#sidebar{
	border-right: 1px solid #ddd;
}

.promedio-line line{

}
.promedio-line text{
	font-size: 13px;
}

/*#001d34*/
/*#ff8303*/

/* Responsive: Portrait tablets and up */
@media only screen and (max-width : 767px) {

	p.help-block.to-select{
		margin-top: 0px;
		margin-bottom: 4px;
		text-align: center;
	}

}
