<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet"> 
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ecosistemaEmprendedorRegionesApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
    -->
    <!--[if lt IE 9]>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
      <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
      </script>
    <![endif]-->
    <div class="container-fluid container-navigation">
      <div class="row">
        <div class="col-xs-6">
          <a href="http://ober.udd.cl/analisis-interactivo/" target="_blank" class="btn-navigation btn-block text-center" ng-class="{'selected-mideco':dataset=='mideco'}">MIDECO</a>
        </div>
        <div class="col-xs-6">
          <a href="http://ober.udd.cl/mide-digital/" target="_blank" class="btn-navigation btn-block text-center" ng-class="{'selected-midee':dataset=='midee'}">MIDE</a>
        </div>
      </div>
    </div>

    <div id="main-control-header" ng-class="{'header-mideco':dataset=='mideco','header-midee':dataset=='midee'}">


      <div class="">
        <div class="row">
          <div class="col-sm-9">
            <h2>Ecosistema de Emprendimiento</h2>
          </div>
          <div class="col-sm-3">

            <ui-select ng-model="selectedView.value" ng-disabled="loading" on-select="viewChanged($item)" search-enabled="false">
              <ui-select-match>
                <span class="text-center-sm">{{$select.selected.label}}<i class="glyphicon glyphicon-play gly-rotate-90"></i></span>
              </ui-select-match>
              <ui-select-choices repeat="v in views"">
                <div>{{v.label}}</div>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-9">
            <ui-select ng-model="selectedDimension.value" ng-disabled="loading" on-select="dimensionChanged($item)" search-enabled="false" ng-show="selectedView.value.id=='main'">
              <ui-select-match>
                <span>{{$select.selected.label}}<i class="glyphicon glyphicon-play gly-rotate-90"></i></span>
              </ui-select-match>
              <ui-select-choices repeat="dim in dimension_options">
                <div>{{dim.label}}</div>
              </ui-select-choices>
            </ui-select>

            <ui-select ng-model="selectedRegion.value" ng-disabled="loading" on-select="regionChanged($item)" search-enabled="false" ng-show="selectedView.value.id=='details' || selectedView.value.id=='compare'">
              <ui-select-match>
                <span>{{$select.selected.label}}<i class="glyphicon glyphicon-play gly-rotate-90"></i></span>
              </ui-select-match>
              <ui-select-choices repeat="r in regions_options">
                <div>{{r.label}}</div>
              </ui-select-choices>
            </ui-select>

          </div>

          <div class="col-sm-3">
            <ui-select ng-model="selectedYear.value" ng-disabled="loading" on-select="yearChanged($item)" search-enabled="false">
              <ui-select-match>
                <span class="text-center-sm">{{$select.selected.label}}<i class="glyphicon glyphicon-play gly-rotate-90"></i></span>
              </ui-select-match>
              <ui-select-choices repeat="y in years"">
                <div>{{y.label}}</div>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="description" ng-if="selectedView.value.id=='main'">{{dimension_descriptions[selectedDimension.value.id]}}</p>
            <p class="description" ng-if="selectedView.value.id=='details'">Ranking #{{currentRegion.ranking}} de 15 | Índice general: {{currentRegion.general}}</p>

            <ui-select ng-model="selectedVsRegion.value" ng-disabled="loading" on-select="vsRegionChanged($item)" search-enabled="false" ng-show="selectedView.value.id=='compare'">
              <ui-select-match>
                <span>vs {{$select.selected.label}}<i class="glyphicon glyphicon-play gly-rotate-90"></i></span>
              </ui-select-match>
              <ui-select-choices repeat="r in regions_options">
                <div>{{r.label}}</div>
              </ui-select-choices>
            </ui-select>

          </div>
        </div>

      </div>
    
    </div>

    <div class="container-fluid">

      <div class="row">

        <div id="sidebar" class="col-sm-2">
          <div id="mapa" class="hidden-xs"></div>
        </div>

        <div id="main-col" class="col-sm-10 col-xs-12" ng-class="{loading:loading}">
          <div ng-hide="loading" ng-view=""></div>
        </div>
        
      </div>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/tabletop/src/tabletop.js"></script>
    <script src="bower_components/topojson/topojson.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/pym.js/dist/pym.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/c3/c3.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="geo/regiones.js"></script>
    <script src="scripts/vendor/RadarChart.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/details.js"></script>
    <script src="scripts/controllers/compare.js"></script>
    <!-- endbuild -->
</body>
</html>
