<div class="col-xs-12">

	<div class="row">

		<div class="reference-container text-center">
			<div class="reference">
				<p class="name"><span class="block block-color1"></span><strong>{{region1.nombre}}</strong></p>
				<p class="rank">#{{region1.ranking}} de 15</p>
				<p class="index">General: {{region1.general | number : 2}}</p>
			</div>
			<div class="reference">
				<p class="name"><span class="block block-color2"></span><strong>{{region2.nombre}}</strong></p>
				<p class="rank">#{{region2.ranking}} de 15</p>
				<p class="index">General: {{region2.general | number : 2}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="radar-chart-container" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
			<div id="radar-chart"></div>
		</div>
	</div>
	
</div>
