<div class="col-sm-10 col-xs-12">

	<div class="row">
		<div class="col-sm-6">
			<a class="btn btn-link btn-udd" ng-href="#/"><i class="glyphicon glyphicon-indent-right"></i> Gráfico principal</a>
		</div>
		<div class="col-sm-6 text-right">
		</div>
		<div class="col-sm-12">
			<p class="help-block text-center"><i class="glyphicon glyphicon-arrow-down"></i> Seleccione las regiones a comparar <i class="glyphicon glyphicon-arrow-down"></i></p>
		</div>
	</div>
	<div class="row">

		<div id="region1" class="col-sm-6">
			<select class="form-control" ng-options="key as value for (key , value) in regions" ng-model="id1" ng-change="changeSelect()"></select>
			<div class="row">
				<p class="col-sm-12 text-center"><strong>Región:</strong> {{romanize(region1.region)}}</p>
			</div>
			<div class="row">
				<p class="col-sm-6 text-center"><strong>Ranking:</strong> #{{region1.ranking}} de 15</p>
				<p class="col-sm-6 text-center"><strong>Índice general:</strong> {{region1.general | number : 2}}</p>
			</div>
		</div>
		<div id="region2" class="col-sm-6">
			<select class="form-control" ng-options="key as value for (key , value) in regions" ng-model="id2" ng-change="changeSelect()">
				<option value="">-- Seleccionar región para comparar --</option>
			</select>
			<div class="row">
				<p class="col-sm-12 text-center"><strong>Región:</strong> <span ng-show="id2">{{romanize(region2.region)}}</span></p>
			</div>
			<div class="row">
				<p class="col-sm-6 text-center"><strong>Ranking:</strong> <span ng-show="id2">#{{region2.ranking}} de 15</span></p>
				<p class="col-sm-6 text-center"><strong>Índice general:</strong> <span ng-show="id2">{{region2.general | number : 2}}</span></p>
			</div>
		</div>

	</div>
	<div class="row">
		<div id="radar-chart-container" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
			<div id="radar-chart"></div>
		</div>
	</div>
	
</div>
